:root {
/*PaperMod variables*/
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 44px;
    --footer-height: 70px;
    --radius: 8px;
    --content: rgb(30, 30, 30); /*text*/
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108); /*metadata*/
    --tertiary: rgb(165, 165, 165); /*lines & items*/
    --border: rgb(230, 230, 230); /*borders*/
    --code-bg: rgb(245, 245, 245); /*areas*/
    --code-block-bg: rgb(245, 245, 245);
    --entry: rgb(255, 255, 255); /*background*/
    --theme: rgb(255, 255, 255);
/*Custom variables*/
    --purple: #6e55c3; /*links*/
    --graypurple: #e5e1f4; /*hovered buttons*/
    --gray: rgb(165, 165, 165); /*labels*/
    --archive: rgb(200, 200, 200); /*archive lines*/
    --semibold: 500;
    --content-size:1.15rem;
    --home-size: 1rem;
    --header-size: 1rem;
    --meta-size: 1rem;
    --entry-size: 0.95rem;
    --footer-size: 0.8rem;
    --line-height: 1.45;
    --margin-left: 26px;
}

.list {
    background: var(--code-bg);
}

