.terms-tags li {
    display: inline-block;
    margin: 10px;
    font-weight: 400;
}

.terms-tags a {
    display: block;
    padding: 3px 10px;
    background: var(--entry);
    border-radius: 6px;
    transition: transform 0.1s;
    border: 1px solid var(--border);
}

    /*background: var(--tertiary);*/

/*.terms-tags a:active {
    background: var(--tertiary);
    transform: scale(0.96);
}*/

.terms-tags a:hover {
    background: var(--lightpurple);
}

